<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/to_do_list.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/to_do_list.js"></script>
</head>
<body ng-app="myapp">
<div ng-controller="todo" style="height:100%;">
 <div class="container-fluid box">
     <div class="row">
        <div class="col-xs-4 col-sm-3 left">
            <!--搜索框-->
            <div class="input-group input-group-lg search">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" class="form-control" placeholder="Username">
            </div>

            <!--done-->

            <div class="done">
                <span class="glyphicon glyphicon-ok-sign"></span>
                已完成 <span class="num">0</span>
            </div>

            <div class="done">
                <span class="glyphicon glyphicon-list"></span>
                计划列表
            </div>
            <div class="list" ng-repeat="item in data track by item.id">
                <div class="listcon">
                    <input type="text" ng-model="item.title" ng-blur="blur(item.id)" ng-focus="focus(item.id)">
                    <span class="glyphicon glyphicon-trash remove" ng-click="removeList(item.id)"></span>
                </div>
            </div>


          <!--add list-->
           <div class="add-list" ng-click="addList()">
               <span class="glyphicon glyphicon-plus"></span>
               添加列表
           </div>
        </div>
        <div class="col-xs-8 col-sm-9 right">
            <div class="header">
                <div class="title">
                    {{currentCon.title}}
                </div>
                <div class="add-con glyphicon glyphicon-plus" ng-click="addCon()">

                </div>
            </div>
            <!--内容列表-->
            <div class="list" ng-repeat="item in currentCon.son track by item.id">
                <div class="listcon">
                    <span class="glyphicon glyphicon-record"></span>
                    <input type="text" ng-model="item.title" ng-blur="conBlur(item.id)">
                    <span class="glyphicon glyphicon-trash remove" ng-click="removeCon(item.id)"></span>
                </div>
            </div>


        </div>
     </div>
 </div>
 </div>
</body>
</html>