body,ul,li{
    padding:0;margin:0;list-style: none;
}
.box{
    width:800px;height:400px;
    border:1px solid #aaa;
    box-shadow: 0 0 5px #000;
    margin:auto;
}
.menu{
    width:100%;height:30px;
    background:#ccc;
}
.menu li{
    width:16.666666%;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.menu li:hover{
    color:red;font-weight: bold;
}
.body{
    width:100%;height:370px;
}
.body .tools{
    width:100px;height:100%;
    float:left;border-right:1px solid #ccc;
    box-sizing: border-box;
}
.body .canvas{
    width:700px;height:100%;float:left;
    position: relative;
}
.canvas .copy{
  width:100%;height:100%;
    position: absolute;left:0;top:0;
    z-index: 10;
}
.active{
    color:red;font-weight: bold;
}
.option{
    display: none;
    width:100%;height:100%;
    text-align: center;
    line-height: 30px;
}
.option li{
    border-bottom: 1px solid #ccc;cursor: pointer;
}
.opt-active{
    display: block;
}
input[type=number]{
    width:90%;
    padding:0;margin:0;
}
.xp{
    width:10px;height:10px;border:1px solid #000;
    position: absolute;
    left:0;top:0;display: none;
}
