html,body{
    width:100%;height:100%!important;
    overflow: hidden;
}
.row{
    height:100%!important;
}
.box{
  width:100%;height:100%!important;
}
.left{
    height:100%;
    border-right: 1px solid #000;
    position: relative;
}
.right{
    height:100%;
}
.search{
    margin-top:10px;
}
.done{
    margin-top:10px;
    font-size:18px;
}
.listcon{
    position: relative;
    width:100%;
    padding:3px 0;
    border-bottom: 1px solid #ccc;
}
.listcon input{
    border:0;
    width:80%;

}
.listcon input:focus{
    outline: none;

}
.remove{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    right:2px;top:4px;
}
.listcon:hover .remove{
    visibility: visible;
    opacity: 1;
}
.add-list{
    position: absolute;
   bottom: 10px;
    left:20px;
    cursor: pointer;

}
.header{
    width:100%;
    height:100px;
    border-bottom: 2px solid #ccc;

}
.header .title{
    float:left;
    line-height: 100px;
    font-size:25px;
}
.header .add-con{
    float:right;
    line-height: 100px;
    font-size:25px;
    cursor: pointer;
}



